.options-button-container {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.entire-comments-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.create-comment-textarea {
    margin: 10px;
    vertical-align: top;
    display: fixed;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    border-color: transparent;
    padding-left: 15px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: 14px; 
    position: relative;
    resize: none;
    width: 550px;
    background-color: rgb(237, 239, 243);
    padding: 10px 15px 10px 15px;
}

.create-comment-container {
    width: 640px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

.create-comment-input {
    position: relative;
}

.create-comment-input button {
    position: absolute;
    border-radius: 20px;
    border-color: transparent;
    right: 15px;
    top: 20px;
    color: rgb(112, 112, 112);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: 14px;
}

.comment-input-container {
    height: 35px;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment-active-input-container {
    height: 36px;
    width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comments-favicon {
    width: 35px;
    height: 35px;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;
    margin: 5px
}

.comment-form-closed-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.comment-input-open {
    display: fixed;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    border-color: transparent;
    padding-left: 15px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: 14px; 
    position: relative;
}

.comment-form {
    position: relative;
}

.comment-form input {
    height: 29px;
    width: 580px;
    background-color: rgb(237, 239, 243);
}

.comment-form button {
    position: absolute;
    right: 15px; 
    margin-top: 6px;
    font-size: 15px;;
    background-color: transparent;
    border-color: transparent;
}

.all-comments-container {
    /* background-color: green; */
    width: 640px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.each-comment-container {
    /* background-color: red; */
    margin: 5px 0 2.5px 0px;
    width: fit-content;
    height: fit-content;
    display: flex;
    /* padding: 20px; */
    justify-content: flex-start;
    align-items: center;
    /* flex-direction: column; */
    position: relative;
}

.commenter-name {
    font-size: 13px;
    font-weight: 500;
    margin: 5px;
}

.comment-body {
    font-size: 15px;
    font-weight: 400;
    margin: 5px;
    /* font-family:; */
}

.comment-open-options-button {
    right: 10px;
    padding-top: 5px;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    border-radius: 20px;
    color: rgb(189, 192, 199);
}

.comment-details {
    background-color: rgb(237, 239, 242);
    margin: 10px 10px 10px 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
}

.each-comment-favicon {
    width: 38px;
    height: 35px;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;

}

.comment-open-options-button:hover {
    background-color: rgb(237, 239, 242);
}

.button-and-menu-container {
    position: relative;
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    /* background-color: pink; */
}

.comment-menu-container {
    background-color: white;
    height: 80px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 30px;
    right: -63px;
    z-index: 3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;;
}

.create-comment-input > .each-comment-favicon {
    margin-top: 13px;
}



