.homepage-container {
    background-color: white;
    height: 700px;
    margin-top: 55px;
}

.left-side-bar-container {
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    width: 700px;
    height: auto;
}

.whale-watch-link img {
    height: 30px;
    width: auto;
}

.newsfeed-links-container {
    margin-top: 75px;
    width: 380px;
    height: 255px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    position: sticky;
    top: 75px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.newsfeed-links-container div {
    height: 50px;
    margin: 10px 0 5px 10px;
    background-color: rgb(235, 226, 216);
    /* background-color: white; */
    display: flex;
    align-items: center;
    width: 360px;
    border-radius: 8px;
    font-size: 17px;
}

.my-friends-list li {
    height: 90px;
    margin: 10px 0 5px 10px;
    background-color: rgb(235, 226, 216);
    /* background-color: white; */
    display: flex;
    align-items: center;
    width: 360px;
    border-radius: 8px;
    font-size: 17px;
    margin: 0 0 10px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.my-friends-list li:hover {
    background-color: rgb(187, 170, 153, 0.5);
}

.newsfeed-links-container div:hover,
.my-friends-list li:hover {
    background-color: rgba(161, 137, 117, 0.5);
}


.my-friends-list a {
    text-decoration: none;
    color: black;
}

#whale {
    height: 20px;
}

.newsfeed-links-container a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.newsfeed-links-header,
.my-friends {
    height: 60px;
    font-weight: bold;
    color: rgb(118, 103, 88);
    /* background-color: pink; */
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px solid rgb(175, 175, 175);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.my-friends {
    margin-bottom: 10px;
}

.newsfeed-friends-list {
    margin-top: 75px;
    width: 380px;
    height: fit-content;
    overflow: hidden;
    background-color: white;  
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    position: sticky;
    top: 75px;
    font-weight: bold;
}

.my-friends-list img {
    height: 80px;
    width: 80px;
    border-radius: 50% ;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.my-friend-list {
    position: relative;
}

.online-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
}

.newsfeed-container {
    /* background-color: blue; */
    /* background-color: pink; */
    width: 1300px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.right-side-bar-container {
    /* background-color: red; */
    width: 700px;
    height: auto; 
    display: flex;
    justify-content: flex-start;
}

.post-form-modal-bg {
    position: fixed;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
